@charset "UTF-8";
/*------------------------- Reset ----------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
  background-image: url(https://http2.mlstatic.com/D_NQ_NP_881541-MLU46792563088_072021-O.jpg);
  background-size: 300px;
}

/*-------------------------- Navbar --------------------------*/
:root {
  --ancho: 1.5em;
  /* */
  --alto: calc(var(--ancho) / 5);
  --arriba: calc(var(--ancho) / 5 * -2);
  --abajo: calc(var(--ancho) / 5 * 2);
  --close: rgb(0, 0, 0);
  --open: rgb(0, 0, 0);
  --bg1: rgb(0, 0, 0);
  --bg2: #000000;
  --light: #000000;
  --medium: rgb(0, 0, 0);
  --dark: #000000;
  --main: rgb(0, 0, 0);
}

.icon {
  display: none;
  width: var(--ancho);
  height: var(--ancho);
  /*   background: #000; */
  cursor: pointer;
  position: relative;
}

.toggle {
  display: none;
}

.hamburguer {
  display: block;
  width: var(--ancho);
  height: var(--alto);
  background: var(--open);
  position: absolute;
  top: var(--abajo);
  transition: all .3s ease-in-out;
}

.hamburguer:before,
.hamburguer:after {
  content: "";
  display: block;
  width: var(--ancho);
  height: var(--alto);
  background: var(--open);
  position: absolute;
  top: var(--arriba);
  transition: inherit;
}

.hamburguer:after {
  top: var(--abajo);
}

.toggle:checked + .icon > .hamburguer {
  background: var(--close);
  transform: rotate(45deg);
}

.toggle:checked + .icon > .hamburguer:before {
  background: var(--close);
  top: 0;
  transform: rotate(90deg);
}

.toggle:checked + .icon > .hamburguer:after {
  background: var(--close);
  top: 0;
  transform: rotate(90deg);
}

.banner {
  position: sticky;
  top: 0px;
  padding: 0px;
  margin: 0px;
  background-size: 490px;
}

.encabezado {
  color: white;
  font-size: 30px;
  text-align: left;
  font-family: 'Akshar', sans-serif;
  background-image: url(https://w0.peakpx.com/wallpaper/878/729/HD-wallpaper-bricks-wall-construction-pattern-abstract.jpg);
  padding: 70px;
  width: 100%;
}

.menu {
  display: flex;
  gap: 15px;
  list-style: none;
  font-size: large;
  font-weight: bold;
  padding: 30px;
  justify-content: right;
}

#menucliente {
  margin-right: 17px;
}

nav li {
  display: inline-block;
  text-transform: uppercase;
  color: black;
}

ul li a {
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
}

ul li a:hover {
  color: red;
  letter-spacing: 1px;
}

/*-------------------------- Formatos genéricos --------------------------*/
.icono-menu img {
  display: none;
}

.formato {
  padding: 10px;
  color: black;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  background-size: 490px;
  line-height: 150%;
}

.interlineado {
  padding: 10px;
  margin-left: -10px;
}

/*-------------------------- Inicio --------------------------*/
p span {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  padding: 5px;
  margin-left: -6px;
}

.span {
  font-size: 20px;
}

.container {
  width: 98%;
  height: 100%;
  display: flex;
  margin: auto;
  border: solid 2px;
  min-height: auto;
}

.container .container__box {
  width: 450px;
  height: 100%;
  overflow: hidden;
  margin: 20px;
}

.container__title {
  min-height: 60px;
  color: #505049;
  text-align: center;
}

.container__text {
  min-height: 720px;
  font-size: 1.2rem;
}

.aqui {
  color: #8400ff;
}

.aqui:hover {
  text-decoration: underline;
  color: red;
}

.img, .mixin {
  padding: 40px;
  margin-top: -10%;
}

/*-------------------------- Sobre nosotros --------------------------*/
.lista {
  padding: 30px;
}

/*-------------------------- Obras --------------------------*/
.segundogrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  height: auto;
  min-height: auto;
}

.segundogrid div {
  border: 1px solid;
  flex-grow: 1;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}

.segundogrid p {
  font-weight: bold;
}

.imagenesobras {
  height: 300px;
  width: 317px;
  align-items: center;
}

/*-------------------------- Clientes --------------------------*/
.interlineadoclientes {
  padding: 10px;
  font-size: 25px;
}

.tercergrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  height: auto;
  min-height: auto;
}

.tercergrid div {
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}

.imagenclientes {
  height: 200px;
  width: 317px;
  padding: 30px;
}

.formatoclientes {
  width: auto;
}

.footercontacto {
  height: 53px;
  margin-left: -10px;
  margin-right: -10px;
}

/*-------------------------- Contacto --------------------------*/
.input, .inputdos {
  height: 23px;
  width: 200px;
  padding: 10px;
}

.inputdos {
  margin-left: 15px;
  padding: 10px;
}

.inputtres {
  height: 100px;
  width: 250px;
}

/*-------------------------- Grid --------------------------*/
@media (max-width: 1030px) {
  body .tercergrid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: auto;
  }
  body .imagenclientes {
    height: 100px;
    width: 317px;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 300px;
  }
  .menu {
    display: flex;
    justify-content: center;
    font-size: 19px;
  }
  ul li a {
    font-size: 18px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    text-align: center;
    width: auto;
  }
  .container .container__text {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    min-height: 50px;
  }
  .segundogrid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: auto;
  }
  .container .container__box {
    height: 900px;
    min-height: 50px;
  }
  .container__title {
    min-height: 40px;
  }
  .segundogrid .imagenesobras {
    width: 397px;
    border-radius: 0%;
    transition: none;
  }
  .segundogrid .imagenesobras:hover {
    transform: none;
    z-index: 0;
    cursor: auto;
  }
  .container .img {
    border-radius: 0%;
    transition: none;
    height: auto;
  }
  .container .img:hover,
  .mixin:hover {
    transform: none;
    z-index: 0;
    cursor: auto;
  }
  .menu .movimiento {
    transition: none;
  }
  .menu .movimiento:hover {
    transform: none;
  }
  .tercergrid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: auto;
  }
  .imagenclientes {
    height: 100px;
    width: 317px;
    padding: 10px;
  }
  .footer__item .menu .movimiento {
    transition: none;
  }
  .footer__item .movimiento:hover {
    transform: none;
  }
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    text-align: center;
    gap: 1px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #footerclientes {
    margin-right: 0px;
  }
}

@media (max-width: 570px) {
  .footer {
    width: auto;
  }
  .footer .footer__item a {
    font-size: 15px;
  }
  .footer__item .menu .movimiento {
    transition: none;
  }
  .footer__item .movimiento:hover {
    transform: none;
  }
}

@media (max-width: 530px) {
  .encabezado {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: 'Akshar', sans-serif;
    width: auto;
  }
  .banner {
    font-size: 15px;
    width: auto;
  }
  ul li a {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .icon {
    display: inline-block;
    margin-top: 20px;
    margin-left: 10px;
  }
  .toggle:checked ~ .menu {
    display: block;
  }
  .menu {
    display: none;
    width: auto;
  }
  .movimiento {
    width: 100%;
  }
  .menu,
  .menu__link {
    width: 100%;
  }
  nav ul li a {
    font-size: 11px;
  }
  .encabezado {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: 'Akshar', sans-serif;
    width: auto;
  }
  .banner {
    font-size: 15px;
    width: auto;
  }
  body {
    width: auto;
    background-size: 300px;
  }
  .formato {
    width: auto;
    margin-right: 20px;
    font-size: 15px;
    flex-wrap: wrap;
    margin: 0px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 10px;
    width: auto;
  }
  .container .container__text {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    min-height: 50px;
    font-size: 15px;
    width: auto;
    justify-content: center;
    width: 100%;
  }
  .segundogrid {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: auto;
    margin-right: -40px;
  }
  .container .container__box {
    height: 650px;
    min-height: 50px;
    width: 100%;
  }
  .container__title {
    min-height: 40px;
    justify-content: center;
    width: 100%;
  }
  .segundogrid .imagenesobras {
    width: 250px;
    border-radius: 0%;
    transition: none;
    justify-content: center;
    text-align: center;
  }
  .segundogrid .imagenesobras:hover {
    transform: none;
    z-index: 0;
    cursor: auto;
  }
  #menucliente {
    margin-right: auto;
    width: auto;
  }
  .container .img {
    border-radius: 0%;
    transition: none;
  }
  .container .img:hover,
  .mixin:hover {
    transform: none;
    z-index: 0;
    cursor: auto;
  }
  .menu .movimiento {
    transition: none;
  }
  .menu .movimiento:hover {
    transform: none;
  }
  .footer {
    width: auto;
  }
  .footer .footer__item a {
    font-size: 15px;
  }
  .footer__item .menu .movimiento {
    transition: none;
  }
  .footer__item .movimiento:hover {
    transform: none;
  }
}

@media (max-width: 500px) and (max-width: 442px) {
  .footer .footer__item a {
    font-size: 10px;
  }
}

/*-------------------------- Footer --------------------------*/
.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(https://static.vecteezy.com/system/resources/thumbnails/006/788/849/small/construction-skyline-background-concept-modern-city-construction-buildings-illustration-of-construction-site-with-cranes-and-skyscraper-vector.jpg);
  height: 120px;
  justify-content: center;
}

.footer__item a {
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

.footer__item a:hover {
  color: red;
}

/* ---------------------Animaciones -------------------------*/
.movimiento {
  transition: transform .3s;
}

.movimiento:hover {
  transform: translate(0, 8px);
}

.img, .mixin {
  border-radius: 15px;
  transition: all .5s;
}

.img:hover, .mixin:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
}

#input {
  background-color: white;
  transition: all 5s;
}

#input:focus {
  background-color: #40a6c0;
}

.imagenesobras {
  border-radius: 15px;
  transition: all .5s;
}

.imagenesobras:hover {
  transform: scale(1.2);
  z-index: 2;
  cursor: pointer;
}
